/**
 * Layout helpers.
 */

.float_left {
  height: auto;
  width: 500px;
  position: absolute;
  left: -20%;
}

.float_right {
  height: auto;
  width: 500px;
  position: absolute;
  left: 65%;
}

#intro_photo {
  float: left;
  margin: 0px 15px 15px 0px;
  height: auto;
  width: 500px;
}

#intro_logo_op {
  float: right;
  margin: 10rem 5rem 0 0;
  height: auto;
  width: 300px;
}

#sunny_logo {
  max-width: 15%;
}

#main_title {
  font-size: 5rem;
}

// https://caniuse.com/css-has
section:not(.stack).present:has(.advantage_inconvenience) {
  color: black;
  background-color: white;
}

.reveal h2.advantage_inconvenience {
  color: black;
}

.advantage_inconvenience::before {
  content: '❌';
  position: absolute;
  top: 0%;
  left: 102%;
}

.advantage_inconvenience::after {
  position: absolute;
  top: 0%;
  left: -10%;
  content: '✅';
}

// section {
// 	 top: -0.1em!important;
// }

#sources + table {
  font-size: 1rem;
}

#wink {
  position: absolute;
  top: 0rem;
  height: 50px;
  width: 50px;
  right: 0;
}

.footer {
  position: absolute;
  bottom: 0em;
  margin: auto;
  // left: 1em;
  font-size: 0.5em;
}

// Stretch an element vertically based on available space
.reveal .stretch,
.reveal .r-stretch {
  max-width: none;
  max-height: none;
}

.reveal pre.stretch code,
.reveal pre.r-stretch code {
  height: 100%;
  max-height: 100%;
  box-sizing: border-box;
}

// Text that auto-fits it's container
.reveal .r-fit-text {
  display: inline-block; // https://github.com/rikschennink/fitty#performance
  white-space: nowrap;
}

// Stack multiple elements on top of each other
.reveal .r-stack {
  display: grid;
}

.reveal .r-stack > * {
  grid-area: 1/1;
  margin: auto;
}

// Horizontal and vertical stacks
.reveal .r-vstack,
.reveal .r-hstack {
  display: flex;

  img, video {
    min-width: 0;
    min-height: 0;
    object-fit: contain;
  }
}

.reveal .r-vstack {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reveal .r-hstack {
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

// Naming based on tailwindcss
.reveal .items-stretch {
  align-items: stretch;
}

.reveal .items-start {
  align-items: flex-start;
}

.reveal .items-center {
  align-items: center;
}

.reveal .items-end {
  align-items: flex-end;
}

.reveal .justify-between {
  justify-content: space-between;
}

.reveal .justify-around {
  justify-content: space-around;
}

.reveal .justify-start {
  justify-content: flex-start;
}

.reveal .justify-center {
  justify-content: center;
}

.reveal .justify-end {
  justify-content: flex-end;
}
